$color-black: #000;
$color-white: #fff;
$color-light-grey: rgb(235, 235, 235);
$color-grey: #cccccc90;
$color-dark-grey: #333;

$color-shadow: $color-grey;

$color-accent: #3656c8ad;
$color-accent-hover: #3656c8e0;
$color-accent-alpha: #6a7cbb65;
