@import "variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(128, 128, 128, 0.46);
	background-color: rgba(131, 187, 230, 0.755);
	color: #efefef;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
	min-height: 100vh;

	main {
		background-color: rgba(54, 120, 170, 0.768);
		border: 1px solid rgba(0, 73, 128, 0.186);
		box-shadow: 0 0 20px 5px rgba(0, 50, 89, 0.59), inset 0 0 15px 2px rgba(0, 50, 89, 0.398);
		padding: 10px 50px;

		.container-slider {
			width: 750px;
			height: 500px;
			overflow: hidden;
			padding: 50px 0;

			.slider {
				display: inline-flex;
				transition: transform 1s ease-in-out;

				.slide {
					background-color: rgba(54, 120, 170, 0.768);
					display: flex;

					.info-container {
						max-width: 15vw;
						padding: 32px;
						box-shadow: inset 0 0 30px 10px rgba(21, 32, 94, 0.35);
					}

					.input-container {
						width: 100%;
						flex-grow: 1;
						padding: 32px;
						background-color: rgba(131, 187, 230, 0.755);
						box-shadow: inset 0 0 30px 10px rgba(21, 32, 94, 0.55);
						overflow-x: hidden;
						overflow-y: auto;

						h2 {
							text-align: center;
							margin-bottom: 1rem;
						}

						.input-group {
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 12px;
							padding: 6px;
							border-bottom: 1px solid rgba(255, 255, 255, 0.15);

							&.izol {
								flex-direction: column;
								align-items: flex-start;
								border: none;

								.check {
									padding-left: 0;
								}

								.wallInsulation-group {
									padding-left: 30px;
								}
							}

							.unit {
								font-size: 0.75rem;
							}

							label {
								cursor: pointer;
								display: inline-block;
								min-width: 90px;
								width: 100%;
								color: $color-light-grey;
							}

							select,
							input[type="number"] {
								margin: 0;
								background-color: rgba(255, 255, 255, 0.5);
								border: none;
								display: block;
								padding: 0;
								height: 30px;
								border-radius: 6px;
								cursor: pointer;
								transition: all 150ms ease-out;
								box-shadow: 0 0 3px 0 rgba(100, 100, 100, 0.5);
								color: $color-dark-grey;

								&:hover {
									box-shadow: 0 0 6px 0 rgba(60, 60, 60, 0.75);
									outline: 1px dashed rgba(0, 0, 255, 0.364);
								}

								&:focus,
								&:active {
									color: $color-black;
									outline: 2px solid rgba(0, 0, 255, 0.426);
									box-shadow: 0 0 6px 2px rgba(60, 60, 60, 0.75);
								}

								&:disabled {
									text-decoration: line-through;
									color: $color-dark-grey;
								}
							}

							select {
								width: 150px;
								padding-left: 6px;
							}

							input[type="number"] {
								&::-webkit-inner-spin-button,
								&::-webkit-outer-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}
								text-align: center;
								width: 50px;
								-moz-appearance: textfield;
								appearance: textfield;
							}

							&.temp {
								display: flex;
								flex-direction: column;
								border: none;

								.temperature-group {
									display: flex;
									padding: 6px;
									align-items: center;
									justify-content: space-between;
									width: 100%;
									border-bottom: 1px solid rgba(255, 255, 255, 0.15);
								}
							}

							&.roofgr {
								border: none;

								.roofInsulation-group {
									width: 100%;
								}
							}
						}

						button {
							border: none;
							padding: 8px 16px;
							margin: 24px 6px 6px 36px;
							border-radius: 6px;
							background-color: $color-accent;
							color: $color-light-grey;
							font-weight: bold;
							cursor: pointer;
							transition: all 150ms ease-out;
							box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.5);

							&:hover {
								color: $color-white;
								background-color: $color-accent-hover;
								box-shadow: 0 0 6px 0 rgba(60, 60, 60, 0.75);
								transform: scale(1.005);
							}

							&:focus,
							&:active {
								color: $color-black;
								outline: 2px solid rgba(0, 0, 255, 0.426);
								box-shadow: 0 0 6px 2px rgba(60, 60, 60, 0.75);
							}
						}
					}
				}
			}
		}
	}
}

.window {
	display: flex;

	.window-delete {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-accent;
		padding: 0 15px;
		background-color: transparent;
		margin: 3px 10px;
		border-radius: 6px;
		font-size: 0.85rem;
		margin-left: 6px;
		transition: all 150ms ease-out;
		outline: 3px solid transparent;

		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
			color: $color-black;
			outline-color: rgba(0, 0, 255, 0.426);
		}
	}
}

@import "scroll";
